{ margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }
body { background: #fff; overflow-x: hidden; }

/* NAVBAR */
.navbar { 
    display: flex; align-items: center; padding: 10px 15px; 
    position: fixed; top: 0; width: 100%; height: 70px;
    background: #fff; z-index: 5000; box-shadow: 0 1px 8px rgba(0,0,0,0.1); 
}
.search-bar { flex: 1; background: #efefef; border-radius: 25px; padding: 10px 15px; display: flex; align-items: center; margin: 0 10px; }
.search-bar input { border: none; background: transparent; width: 100%; outline: none; margin-left: 8px; font-size: 16px; }

/* GRID */
.page { display: none; padding-top: 85px; padding-bottom: 100px; }
.page.active { display: block; }
.pin-container { width: 96%; margin: auto; column-count: 2; column-gap: 12px; }
@media (min-width: 768px) { .pin-container { column-count: 5; } }

.card { display: inline-block; width: 100%; margin-bottom: 12px; border-radius: 16px; overflow: hidden; background: #f0f0f0; break-inside: avoid; border: 1px solid #eee; cursor: pointer; transition: 0.2s; }
.card:hover { transform: scale(1.02); }
.card img { width: 100%; display: block; border-radius: 16px; }

/* PROFILE & TOOLBAR */
.profile-header { text-align: center; padding: 20px; }
#pfp-big { width:100px; height:100px; border-radius:50%; background:#ddd; margin:auto; background-size:cover; background-position: center; border: 3px solid #fff; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
.btn-edit { padding: 8px 15px; border-radius: 20px; border: 1px solid #ddd; background: #fff; cursor: pointer; margin: 5px; font-weight: bold; }
.toolbar { position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); background: #fff; display: flex; gap: 40px; padding: 12px 35px; border-radius: 40px; box-shadow: 0 5px 20px rgba(0,0,0,0.15); z-index: 6000; }
.pfp-nav { width: 28px; height: 28px; border-radius: 50%; background: #ddd; background-size: cover; background-position: center; }

/* MODAL */
.modal { display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); justify-content: center; align-items: center; }
.modal-content { background: white; border-radius: 25px; width: 850px; max-width: 95%; display: flex; overflow: hidden; height: 80vh; flex-direction: column; }
#modal-img { width: 100%; height: 50%; object-fit: cover; background: #000; }
.modal-info { padding: 20px; flex: 1; display: flex; flex-direction: column; }
.komentar-box { flex-grow: 1; overflow-y: auto; margin: 15px 0; border-top: 1px solid #eee; padding-top: 10px; font-size: 14px; }
.btn-red { background: #e60023; color: white; border: none; padding: 12px; border-radius: 25px; font-weight: bold; cursor: pointer; width: 100%; text-align: center; text-decoration: none; }

